* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
}

.head nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(242, 221, 197);
  padding: 20px;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.head nav #th {
  font-size: 20px;
  color: black;
  position: relative;
  bottom: 24px;
}
.head nav span {
  color: #60695D;
}

.head nav ul {
  display: flex;
  gap: 30px;
}

.head nav ul li {
  display: flex;
  gap: 30px;
}

.head nav ul li a {
  text-decoration: none;
  color: black;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.head nav ul li a img {
  height: 20px;
  width: 20px;
}

.head nav h1 {
  font-size: 40px;
  position: relative;
}

.hero {
  height: 100%;
  background: url(images/2.webp) no-repeat center center/cover;
}
.hero .content {
  padding-top: 200px;
  padding-left: 50px;
  padding-bottom: 100px;
}
.hero p {
  color: white;
  font-size: 30px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.hero h1 {
  font-size: 80px;
  color: white;
  width: 60%;
  margin-top: 30px;
  margin-bottom: 50px;
}
.hero a {
  text-decoration: none;
  color: white;
  border: 2px solid white;
  padding: 15px;
  font-size: 25px;
}
.hero a:hover {
  background-color: rgb(101, 118, 100);
}

.hr h1 {
  height: 80px;
  color: white;
  background-color: #60695D;
  text-align: center;
  padding: 20px;
}

.section1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.section1 .sec1 {
  justify-content: center;
  align-items: center;
  padding: 100px;
}
.section1 .sec1 h1 {
  font-size: 90px;
  margin-bottom: 20px;
}
.section1 .sec1 h2 {
  font-size: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 40px;
}
.section1 .sec1 p {
  font-size: 22px;
  margin-bottom: 50px;
}
.section1 .sec1 a {
  text-decoration: none;
  color: rgb(75, 91, 68);
  font-size: 23px;
  border: 2px solid rgb(75, 91, 68);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
}
.section1 img {
  height: 600px;
}

.section2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.section2 .sec2 {
  justify-content: center;
  align-items: center;
  padding: 100px;
}
.section2 .sec2 h1 {
  font-size: 90px;
  margin-bottom: 20px;
}
.section2 .sec2 h2 {
  font-size: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 40px;
}
.section2 .sec2 p {
  font-size: 22px;
  margin-bottom: 50px;
}
.section2 .sec2 a {
  text-decoration: none;
  color: rgb(75, 91, 68);
  font-size: 23px;
  border: 2px solid rgb(75, 91, 68);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
}
.section2 img {
  height: 580px;
}

.section3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}
.section3 .sec1 {
  justify-content: center;
  align-items: center;
  padding: 100px;
}
.section3 .sec1 h1 {
  font-size: 90px;
  margin-bottom: 20px;
}
.section3 .sec1 h2 {
  font-size: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 40px;
}
.section3 .sec1 p {
  font-size: 22px;
  margin-bottom: 50px;
}
.section3 .sec1 a {
  text-decoration: none;
  color: rgb(75, 91, 68);
  font-size: 23px;
  border: 2px solid rgb(75, 91, 68);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
}
.section3 img {
  height: 600px;
}

.address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(244, 236, 227);
  padding: 80px;
}
.address #drop {
  font-size: 70px;
  margin-bottom: 40px;
}
.address .add {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.address .add .line {
  height: 100%;
  width: 0px;
  border: 1px solid black;
  margin-left: 100px;
}
.address .add h2 {
  font-size: 30px;
  margin-bottom: 30px;
  text-align: center;
}
.address .add p {
  font-size: 20px;
  text-align: center;
  padding: 5px;
}

.colarge {
  display: flex;
}
.colarge img {
  height: 316px;
  margin-bottom: 60px;
}

.footer {
  background-color: #404D3C;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: white;
  padding: 60px;
  justify-content: center;
}
.footer .f1 h1 {
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: 100;
}
.footer .f1 p {
  margin-bottom: 30px;
  font-size: 17px;
}
.footer .btnf {
  color: white;
  font-size: 20px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  text-decoration: none;
  margin-left: 10px;
}
.footer #lab1 {
  font-size: 15px;
}
.footer #mail {
  margin-top: 10px;
  height: 40px;
  width: 93%;
  font-size: 15px;
}
.footer #lab2 {
  font-size: 15px;
}
.footer .btn {
  margin-top: 20px;
}

.footer .f2 {
  margin-left: 30px;
}
.footer .f2 h1 {
  font-size: 30px;
  font-weight: 100;
  margin-bottom: 40px;
}
.footer .f2 a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin-bottom: 50px;
}
.footer .f2 p {
  font-size: 20px;
  margin-top: 50px;
}
.footer .f2 h3 {
  font-size: 19px;
  margin-top: 10px;
}

.f3 {
  display: flex;
  flex-direction: column;
}
.f3 a {
  text-decoration: none;
  color: white;
  font-size: 60px;
  margin-bottom: 10px;
}

header input {
  display: none;
}

header label {
  display: none;
}

@media screen and (max-width: 786px) {
  header label {
    display: block;
    font-size: 30px;
  }
  .head nav {
    width: 61%;
    justify-content: space-between;
  }
  .head nav ul {
    display: flex;
  }
  .section1 img {
    height: 41%;
    position: relative;
    top: 24%;
  }
  .section3 {
    grid-template-columns: auto;
  }
}/*# sourceMappingURL=home.css.map */