* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
}

.head nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(242, 221, 197);
  height: 100px;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.head nav #th {
  font-size: 20px;
  color: black;
  position: relative;
  bottom: 24px;
}
.head nav span {
  color: #60695D;
}

.head nav ul {
  display: flex;
  gap: 30px;
}

.head nav ul li {
  display: flex;
  gap: 30px;
}

.head nav ul li a {
  text-decoration: none;
  color: black;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.head nav ul li a img {
  height: 20px;
  width: 20px;
}

.head nav h1 {
  font-size: 40px;
  position: relative;
  right: 100px;
}

.title {
  display: flex;
  flex-direction: column;
  padding-top: 200px;
  padding-bottom: 100px;
  background-color: rgb(244, 236, 227);
  text-align: center;
}
.title h1 {
  font-size: 60px;
}
.title p {
  font-size: 20px;
  padding-top: 30px;
}
.title #p1 {
  font-size: 20px;
  padding-top: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.grid .pamp1 {
  justify-content: center;
  align-items: center;
  padding: 100px;
}
.grid .pamp1 h1 {
  font-size: 50px;
  margin-bottom: 20px;
}
.grid .pamp1 p {
  font-size: 20px;
  margin-bottom: 50px;
}
.grid .pamp1 a {
  text-decoration: none;
  color: rgb(75, 91, 68);
  font-size: 17px;
  border: 1px solid rgb(75, 91, 68);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
}
.grid img {
  height: 660px;
}

.mid h1 {
  height: 130px;
  color: white;
  background-color: #586355;
  text-align: center;
  padding: 40px;
  font-size: 37px;
  font-family: sans-serif;
  font-weight: 100;
}

.footer {
  background-color: #404D3C;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: white;
  padding: 60px;
  justify-content: center;
}
.footer .f1 h1 {
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: 100;
}
.footer .f1 p {
  margin-bottom: 30px;
  font-size: 17px;
}
.footer .btnf {
  color: white;
  font-size: 20px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  text-decoration: none;
  margin-left: 10px;
}
.footer #lab1 {
  font-size: 15px;
}
.footer #mail {
  margin-top: 10px;
  height: 40px;
  width: 93%;
  font-size: 15px;
}
.footer #lab2 {
  font-size: 15px;
}
.footer .btn {
  margin-top: 20px;
}

.footer .f2 {
  margin-left: 30px;
}
.footer .f2 h1 {
  font-size: 30px;
  font-weight: 100;
  margin-bottom: 40px;
}
.footer .f2 a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin-bottom: 50px;
}
.footer .f2 p {
  font-size: 20px;
  margin-top: 50px;
}
.footer .f2 h3 {
  font-size: 19px;
  margin-top: 10px;
}

.f3 {
  display: flex;
  flex-direction: column;
}
.f3 a {
  text-decoration: none;
  color: white;
  font-size: 60px;
  margin-bottom: 10px;
}/*# sourceMappingURL=page2.css.map */